@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

html{ scroll-behavior:smooth; }

body{
  background:#0b1623;
  color:#eaeaea;
}

/* NAVBAR */
.navbar{
  position:sticky;
  top:0;
  background:rgba(13,27,42,.9);
  backdrop-filter:blur(10px);
  display:flex;
  justify-content:space-between;
  padding:15px 60px;
}

.navbar h2{ color:#f4b942; }

.navbar ul{
  display:flex;
  gap:22px;
  list-style:none;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.navbar a:hover{ color:#f4b942; }

/* HERO */
.hero{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:radial-gradient(circle at top,#1b2d4f,#050c16);
}

.hero span{ color:#f4b942; }

.resume-btn{
  background:#f4b942;
  color:black;
  padding:14px 32px;
  border-radius:30px;
  text-decoration:none;
  margin-top:15px;
  box-shadow:0 0 15px rgba(244,185,66,.6);
  transition:.3s;
}

.resume-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 0 25px rgba(244,185,66,.9);
}

.socials{
  margin-top:18px;
}

.socials a{
  margin:0 12px;
  color:#f4b942;
  text-decoration:none;
}

/* SECTIONS */
.section{
  padding:80px 10%;
}

.section h2{
  color:#f4b942;
  margin-bottom:30px;
}

/* CARDS */
.card{
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(12px);
  padding:25px;
  border-radius:18px;
  margin-bottom:22px;
  box-shadow:0 10px 30px rgba(0,0,0,.4);
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
}

/* SKILLS */
.skill{ margin-bottom:20px; }

.bar{
  background:#222;
  height:10px;
  border-radius:20px;
  overflow:hidden;
}

.bar span{
  height:100%;
  display:block;
  background:#f4b942;
  width:0;
  transition:1.5s ease;
}

/* CONTACT */
.contact-links a{
  margin-right:20px;
  color:#f4b942;
  text-decoration:none;
}

/* ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(60px);
  transition:1s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}
.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.skill-box{
  background:rgba(255,255,255,.06);
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.4);
  transition:.3s;
  text-align:center;
}

.skill-box:hover{
  transform:translateY(-8px);
}

.skill-box h3{
  color:#f4b942;
  margin-bottom:10px;
}

